.main_about {
  display: grid;
  grid-template-columns: 45px 205px 1fr;
  position: relative;
  overflow: hidden;

  .icons {
    border-right: 1px solid #1E2D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    position: sticky;
    
    svg {
      width: 25px;
      height: 25px;
      margin-bottom: 25px;
    }
  }

  .drop_down {
    border-right: 1px solid #1E2D3D;
    position: sticky;

    .top {
      display: flex;
      align-items: center;
      height: 42px;
      border-bottom: 1px solid #1E2D3D;
      padding: 0 15px;
      color: #FFF;

      svg {
        margin-top: 5px;
        margin-right: 7px;
      }
    }

    .drop_down-link {
      padding: 20px;

      .sub_menu {
        display: flex;
      }
    }
  }

  .content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 1px;
    }

    .top {
      border-bottom: 1px solid #1E2D3D;
      position: sticky;
      top: 0;
      // padding: 8px 20px;
      
      .top_content {
        display: inline-flex;
        align-items: center;
        height: 100%;
        border-right: 1px solid #1E2D3D;
        padding: 8px 15px;
      }
      
      svg {
        width: 25px;
        height: 25px;
        margin-left: 20px;
      }
    }

    .bottom {
      display: flex;
      overflow: hidden;
      margin: 0 20px;
      border-right: 1px solid #1E2D3D;
      gap: 20px;

      .left_content {
        flex: 1;
        position: sticky;
        border-right: 1px solid #1E2D3D;
        position: relative;

        &::before {
          content: " ";
          position: absolute;
          width: 16px;
          height: 7px;
          top: 3px;
          right: -19.5px;
          background-color: #607B96;
        }
      }

      .right_content {
        flex: 1;
        overflow-y: scroll;
        border-left: 1px solid #1E2D3D;

        &::-webkit-scrollbar {
          width: 1px;
        }
      }
    }
  }
}