.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;

  .left {
    .top {
      margin-bottom: 80px;

      .intro {
        color:#E5E9F0;
      }

      h1 {
        font-size: 4.5rem;
        letter-spacing: 1px;
        color: #E5E9F0;
      }

      .profession {
        color: #4D5BCE;
        font-size: 28px;

        span {
          margin-right: 7px;
        }
      }
    }

    .bottom {
      p {
        padding: 5px;
      }

      .resume {
        font-size: 18px;
        padding-top: 10px;

        a {
          text-decoration: none;
          color: #E99287;

          &:hover {
            opacity: 1;
            border-bottom: 1px solid #E99287;
            padding-bottom: 1px;
          }
        }
      }
    }
  }

  .right {
    background: linear-gradient(150.26deg, rgba(23, 85, 83, 0.7) 1.7%, rgba(67, 217, 173, 0.091) 81.82%);
    width: 450px;
    height: 450px;
    border: 1px solid #0C1616;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      width: 300px;
      height: 300px;
      background: #43D9AD;
      opacity: .4;
      filter: blur(87px);
      border-radius: 50%;
      transform: translate(-125.08px, -130.47px);
    }

    &::after {
      content: " ";
      position: absolute;
      width: 300px;
      height: 300px;
      background: #4D5BCE;
      opacity: .4;
      filter: blur(87px);
      border-radius: 50%;
      transform: translate(125.08px, 100.47px);
    }
  }
}